
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Password</title>

    <style>
      body {
        padding-top: 60px;
      }
      @media (max-width: 980px) {
        body {
          padding-top: 10;
        }
      }
      .title_table{
        color: #2c699c;
      }
    </style>
  </head>

  <body >

    <div class="container">
      <div class="col-md-3 well">
        <ul class="form-group" role="menu">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </div>
      
      
      <div class="col-md-9">
        <form class="form-inline" role="form" >
          <h1>Edit Password: スタッフ２</h1>
        </form>
        <table class="table table-striped table-bordered">
          <tr>
            <td style="width: 50%;"  class="title_table"><strong >所属店舗</strong></td>
            <td style="width: 50%;">スタッフ名</td>

          </tr>

          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
          <tr>
            <td  class="title_table"><strong>test</strong></td>
            <td>nonono</td>

          </tr>
        </table>

        <form class="form-group" role="form" >

          <div class="form-inline">
            <div class="form-group">
              <label><h1>パスワード:</h1> </label>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="パスワード">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary">パスワード生</button>
            </div>
          </div>
        </form>
        <div class="form-group" role="form">
          <button type="button" class="btn btn-primary">パスワード</button>
        </div>







        <form class="form-group" role="form" >
          <button type="button" class="btn btn-sm btn-warning"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">Show</span></button>

          <button type="button" class="btn btn-sm btn-danger">cancel</button>
        </form>
      </div>
    </div>
  </body>
</html>
