
            
          
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="myModalLabel"><strong>iPadリセット　利用者名：</strong></h4>
</div>
<div class="modal-body">
  <p>iPadリセット　利用者名：
  リセットボタンを押下すると、<br/>
  現在登録されているiPadの情報をリセットします。
  リセット後、新しいiPadでログインすると
  そのiPadからでのみログイン可能になり
</p>
</div>
<div class="modal-footer">
  <a type="button" class="btn btn-default" data-dismiss="modal">キャンセル</a>
  <a type="button" class="btn btn-primary"  href="<%= reset_path(@staff) %>">リセッ</a>
</div>
